.site-navigation {
	top: -.9em;
	border-bottom: $border;
	@include padding-trailer(2);
	ul li {
		position: relative;
		float: left;
		width: 33%;
		a {
			@include adjust-font-size-to(22px);
		}
	}
}