html {
	
}

body {
	background: $white url(../img/lines-bg.png) repeat;
}

.container {
	margin: 0 auto;
	padding-top: 5%;
	width: 90%;
	max-width: 75em;
}

.block {
	margin: 0 auto;
	width: 100%;
	@include bp(md) {
		float: left;
		width: 50%;
		padding: 0 2em;
	}
}

.site-header {
	margin: 0 auto;
	text-align: center;
	max-width: 42em;
	@include bp(lg) {
		border-right: $border;
	}
}

.logo {
	padding: 0 1em;
}

.main-content {
	@include bp(md) {
	border-left: $border;
	}
	@include bp(lg) {
	border-left: none;
	}
}

.site-footer {
	@include adjust-font-size-to(11px);
	text-align: center;
	width: 100%;
	@include bp(sm) {
		@include adjust-font-size-to(12px);
		text-align: right;
	}
}

ul.social li {
	padding: .5em 0;
}

.fa-li {
	position: static;
}