@include establish-baseline;

$base-font-size: 16px;
$base-line-height: 16px;

$default-transition-duration: .25s;

html {
	font-size: 100%;
}

body {
	color: $text;
	font-family: 'Abel', 'sans-serif';
}

h1, .title {
	@include adjust-font-size-to(36px);
	@include adjust-leading-to(3,36px);
	color: $text;
	text-transform: uppercase;
}

article h1 {
	color: $blue;
}

h2 {
	@include adjust-font-size-to(24px);
	@include adjust-leading-to(1,24px);
	color: $yellow;
	text-shadow:
		1px 1px 0px $gray;
}

p {
	@include adjust-font-size-to(22px);
	@include adjust-leading-to(2,22px);
}

article li {
	@include adjust-font-size-to(22px);
}

.title, .degree {
	@include adjust-font-size-to(64px);
	color: $yellow;
	text-shadow:
		2px 2px 0px $gray,
		3px 3px 0px $gray,
		4px 4px 0px $gray;
}

.title {
	display: block;
	text-align: center;
	/*border-bottom: $border;
	padding-bottom: 2em; (Circle Text) */
	@include padding-trailer(.5);
}

.degree {
	display: inline-block;
	position: relative;
	/*top: -.9em; (Circle Text) */
	top: -.6em;
	background: url(../img/lines-bg.png);
	padding: 0 1em;
	@include adjust-font-size-to(42px);
	letter-spacing: .2em;

	/*-webkit-transform: skewY(-8deg);
	-moz-transform: skewY(-8deg);
	-o-transform: skewY(-8deg);
	-ms-transform: skewY(-8deg);
	transform: skewY(-8deg);*/
}

a {
	text-decoration: none;
	color: $blue;
	&:hover {
		color: $yellow;
		@include transition
	}
}

.fa-li {
	color: $yellow;
}
