<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/syntax.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/global.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/vendor/jquery.lettering.js"></script>
    <script>
      $(document).ready(function() {
        $(".title").lettering();
      });
    </script>
    <script src="js/vendor/jquery.fittext.js"></script>
    <script>
      $(document).ready(function() {
        $(".title").fitText(.7, { minFontSize: '20px', maxFontSize: '64px' })
      });
    </script>
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
    
  <body>
    <div class="container">
      <div class="content group">
        <header class="site-header block group">
        <div class="logo group">
          <img src="img/header.jpg" alt="Ashley Fejeran" class="me">
          <a href="/" class="title">Ashley Fejeran</a>
          <span class="degree">MLIS</span>
        </div>

          <nav class="site-navigation group">
            <ul class="navigation">
              <li><a href="#">Resume</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </header>

        <section class="main-content block group">

          {{ content }}

        </section>
      </div>
      
      <footer class="site-footer group">
        <p class="copyright">&copy; 2014 Ashley Fejeran | Website Design by <a href="http://nrbernard.com">Nick Bernard</a></p>
      </footer>

    </div>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="js/vendor/circletype.min.js"></script>
    <script src="js/vendor/plugins.js"></script>

    <script>
      $('.title').circleType({radius: 800});  
    </script>

    <script src="js/main.js"></script>
  </body>
</html>
